$highlight: #ffcc00;
$dark-highlight: #ae3137;

a,
a:hover,
a:visited {
  color: lighten($highlight, 20%);
}

/* general styles */

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

/* padded section */

.pad-section {
  padding: 50px 0;
}

.pad-section img {
  width: 100%;
}

/* additional sections */

#photographer {
  background: url(../assets/images/pjo-photo-1.jpg) no-repeat center center fixed;
  min-height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 3% 0 3%;

  & h3 {
    color: $highlight;

    @media (max-width: 768px) {
      text-align: left;
    }
  }

  & .links {
    text-align: right;
  }
}

.pjo-light {
  background-color: #fff;

  & h3 a {
    color: $dark-highlight;
  }
}

.pjo-dark {
  background-color: #000;

  & h3 {
    color: $highlight;
  }
}

#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../assets/images/pjo-functal-1.jpg) no-repeat center center fixed;
  display: table;
  height: 768px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
}

footer {
  padding: 20px 0;
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover {
  color: #306d9f;
}
